# api
API_PORT=3000
EMBEDDING_QUEUE="posts_embedding_queue"
POSTS_COLLECTION="posts"
POSTS_COLLECTION_SIZE=768
SEARCH_CONTENT_LIMIT=5
SEARCH_CONTENT_SCORE_THRESHOLD=0.5

# mysql
MYSQL_VERSION=8.4.11
MYSQL_DATABASE=nest_content_hub
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3306
DATABASE_URL="mysql://user:password@mysql:3306/nest_content_hub?allowPublicKeyRetrieval=true"

# minio
MINIO_VERSION=RELEASE.2025-09-07T16-13-09Z
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# ollama
OLLAMA_EMBEDD_MODEL=nomic-embed-text
OLLAMA_CHAT_MODEL=qwen2.5:3b
OLLAMA_VISION_MODEL=moondream
OLLAMA_PORT=3006
OLLAMA_URL="http://ollama:11434"

# whisper
WHISPER_MODEL=base
WHISPER_PORT=9002

# qdrant
QDRANT_VERSION=v1.19
QDRANT_REST_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_URL="http://qdrant:6333"

# mailhog
MAILHOG_VERSION=v1.0.1
MAILHOG_UI_PORT=8025
MAILHOG_SMTP_PORT=1025

# rabbitmq
RABBITMQ_VERSION=3-management
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_UI_PORT=15672
RABBITMQ_AMPQ_PORT=5672
RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672"
