DATABASE_URL="mysql://user:password@mysql:3306/nest_content_hub?allowPublicKeyRetrieval=true"
RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672"
EMBEDDING_QUEUE="posts_embedding_queue"
QDRANT_URL="http://qdrant:6333"
POSTS_COLLECTION="posts"
POSTS_COLLECTION_SIZE=768
OLLAMA_URL="http://ollama:11434"
OLLAMA_EMBEDD_MODEL="nomic-embed-text"
